---
import { Icon } from 'astro-icon/components'
---

<a class="logo" href="/" title="home" aria-label="home">
  <Icon name="logo" />
</a>

<style>
  .logo {
    display: block;
    width: 100%;
  }

  .logo svg {
    width: 15.25rem;
    height: auto;
  }
</style>
