---
import { Icon } from 'astro-icon/components'
---

<a class="logo" href="/" title="home" aria-label="home">
  <Icon name="logo" />
</a>

<style>
  .logo {
    z-index: 4;
  }

  @media (min-width: 768px) {
    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 1.25rem;
    }
  }

  @media (min-width: 1024px) {
    .logo {
      display: none;
    }
  }

  .logo svg {
    width: 7.75rem;
    height: auto;
  }
</style>
