---
import DesktopLogo from '../../logo/Desktop.astro'

const currentPath = Astro.url.pathname
---

<ul class="desktop-nav" data-current-url={currentPath}>
  <li data-path="menu"><a href="/menu">Menu</a></li>
  <li data-path="sourcing"><a href="/sourcing">Sourcing</a></li>

  <li class="logo">
    <DesktopLogo />
  </li>

  <li data-path="order"><a href="https://bornyesterdaybakery.square.site/">Order</a></li>
  <li data-path="contact"><a href="/contact">Contact</a></li>
</ul>

<style>
  .desktop-nav[data-current-url^='/menu'] li[data-path='menu'],
  .desktop-nav[data-current-url^='/sourcing'] li[data-path='sourcing'],
  .desktop-nav[data-current-url^='/order'] li[data-path='order'],
  .desktop-nav[data-current-url^='/contact'] li[data-path='contact'] {
    color: var(--color-primary);
  }

  .desktop-nav {
    display: none;
  }

  @media (min-width: 768px) {
    .desktop-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }

  .desktop-nav li {
    transition: all var(--transition-normal);
  }

  .desktop-nav li:hover {
    color: var(--color-primary);
  }

  .logo {
    display: none;
  }

  @media (min-width: 1024px) {
    .logo {
      display: block;
    }
  }
</style>
