---
export interface Props {
  title: string
  class?: string
}

const { title, class: className } = Astro.props
---

<h2 class={`${className} lsa no-repeat`}>{title}</h2>

<style>
  h2 {
    margin: 0 0 2rem;
    font-size: clamp(var(--size-lg), 7vw, var(--size-xl));
    text-align: center;
  }
</style>
