---
import { Icon } from 'astro-icon/components'
import kouignAmannImage from '../assets/kouign-amann.jpeg'
import HeroBanner from '../components/layout/HeroBanner.astro'
import SectionHeader from '../components/text/SectionHeader.astro'
import Button from '../components/ui/Button.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Born Yesterday Bakery | Contact"
  description="Contact Born Yesterday Bakery for information about our bread and pastries, order info, or to say hello. We'd love to hear from you!"
  socialImage="/images/kouign-amann.jpeg"
>
  <HeroBanner title="Contact Us" image={kouignAmannImage} />
  <main>
    <section id="contact" class="contact lsa no-repeat">
      <form method="POST" class="form" name="contactForm" action="/success" data-netlify="true">
        <SectionHeader title="Let's Chat" class="section-header-custom" />
        <div class="form-field">
          <input id="name" type="text" name="name" placeholder=" " required />
          <label for="name">Name: <span>*</span></label>
        </div>
        <div class="form-field">
          <input id="email" type="email" name="email" placeholder=" " required />
          <label for="email">Email: <span>*</span></label>
        </div>
        <div class="form-field">
          <textarea id="message" name="message" cols="30" rows="5" placeholder=" " required
          ></textarea>
          <label for="message">Message: <span>*</span></label>
        </div>
        <Button text="Send Message" isLink={false} type="submit" class="button-custom" />
      </form>

      <aside class="contact-info">
        <div>
          <h3>Get in Touch</h3>
          <p><a href="mailto:bornyesterdaybakery@gmail.com">bornyesterdaybakery@gmail.com</a></p>
          <p>
            <a
              href="https://www.instagram.com/bornyesterdaybakery/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram"
              >Instagram
              <Icon name="arrow-top-right" />
            </a>
          </p>
        </div>
        <div>
          <h3>Visit Us</h3>
          <p>221 Barker Road Bethel, ME</p>
          <p>
            <a
              href="https://maps.app.goo.gl/Zi8c93ZntshAJUiNA"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Google Maps"
              >View on Map
              <Icon name="arrow-top-right" />
            </a>
          </p>
        </div>
      </aside>
    </section>
  </main>
</Layout>

<style>
  @media (min-width: 768px) {
    .contact {
      display: grid;
      grid-template-columns: 1fr 350px;
      grid-gap: 6vw;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .section-header-custom {
    margin: 0 auto 2rem;
  }

  .form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }

  .form-field label {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    color: var(--color-grey);
    transition: all var(--transition-normal);
  }

  .form-field label,
  .form-field input,
  .form-field textarea {
    font-size: var(--size-sm);
  }

  .form-field input,
  .form-field textarea {
    padding: 0.5rem;
    border-bottom: 2px solid var(--color-black);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    outline: none;
    transition: border-bottom var(--transition-normal);
  }

  .form-field textarea {
    resize: vertical;
  }

  .form-field input:focus,
  .form-field textarea:focus {
    border-bottom: 2px solid var(--color-primary);
  }

  .form-field input:not(:placeholder-shown):valid,
  .form-field textarea:not(:placeholder-shown):valid {
    border-color: var(--color-black);
  }

  .form-field input:not(:placeholder-shown):not(:valid),
  .form-field textarea:not(:placeholder-shown):not(:valid) {
    border-color: var(--color-primary);
  }

  .form-field textarea + label {
    top: 1.5rem;
  }

  .form-field input:focus + label,
  .form-field textarea:focus + label {
    top: -1rem;
    left: 0;
    font-size: var(--size-xs);
    color: var(--color-primary);
  }

  .form-field input:valid + label,
  .form-field textarea:valid + label {
    top: -1rem;
    left: 0;
    font-size: var(--size-xs);
    color: var(--color-black);
  }

  .form-field input:not(:placeholder-shown) + label,
  .form-field textarea:not(:placeholder-shown) + label {
    top: -1rem;
    left: 0;
    font-size: var(--size-xs);
  }

  .form-field input:not(:placeholder-shown):not(:valid) + label,
  .form-field textarea:not(:placeholder-shown):not(:valid) + label {
    color: var(--color-primary);
  }

  .form-field label span {
    color: var(--color-primary);
  }

  .form .button-custom {
    margin: 0 auto;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    height: fit-content;
    max-width: 350px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: var(--border-radius-image);
    background-color: var(--color-secondary);
    box-shadow: 1rem 1rem 4rem var(--color-grey-shadow);
  }

  @media (min-width: 768px) {
    .contact-info {
      padding: 3rem;
    }
  }

  .contact-info h3,
  .contact-info p {
    margin-bottom: 0.75rem;
    text-align: left;
  }

  .contact-info h3 {
    font-size: var(--size-base);
    font-family: var(--font-bobby-soft);
  }

  .contact-info p {
    font-size: var(--size-xs);
    color: var(--color-grey);
  }

  .contact-info a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: var(--transition-normal);
  }

  .contact-info a:hover {
    color: var(--color-black);
  }

  .contact-info svg {
    width: 1rem;
    height: 1rem;
    transition: fill var(--transition-normal);
  }
</style>
