---
import anadamaImage from '../assets/anadama.jpg'
import SectionHeader from '../components/text/SectionHeader.astro'
import Button from '../components/ui/Button.astro'
import FlashingImages from '../components/ui/FlashingImages.astro'
import HeroBanner from '../components/ui/HeroBanner.astro'
import Layout from '../layouts/Layout.astro'
import GoogleMap from '../components/ui/GoogleMap.astro'
---

<Layout
  title="Born Yesterday Bakery"
  description="Born Yesterday is a small bakery in Maine making sourdough baked goods, with a focus on organic, local and whole grains. We see bread as a handmade product that is wildly crafted, using our hands, bodies and minds. A lot of cool 😎 fermentation goes on here and half of it is controlled by those hands and minds, but the other half is just food doing its thing. Hope you like us doing our thing and find something tasty here."
  socialImage="/images/anadama.jpg"
>
  <HeroBanner
    title="Born Yesterday Bakery"
    image={anadamaImage}
    description="Where everything is sourdough and sourdough is everything"
  />
  <main>
    <!-- About Us -->
    <section id="about" class="about">
      <SectionHeader
        title="About Us"
        description="Born Yesterday is a small bakery in Maine making sourdough baked goods, with a focus on organic, local and whole grains. We see bread as a handmade product that is wildly crafted, using our hands, bodies and minds. A lot of cool 😎 fermentation goes on here and half of it is controlled by those hands and minds, but the other half is just food doing its thing. Hope you like us doing our thing and find something tasty here."
        class="section-header-custom lsa no-repeat"
      />
      <FlashingImages />
      <Button text="Our Sourcing Story" isLink={true} href="/sourcing" class="button-custom" />
    </section>

    <section id="info" class="info lsa no-repeat">
      <SectionHeader title="Where to find us" class="section-header-custom lsa no-repeat" />
      <GoogleMap
        locationSrc="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2863.572300701436!2d-70.46566882362306!3d44.13344332123784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb2460b9c5aaaab%3A0xdd64cf734b339aa8!2s11%20Mechanic%20Falls%20Rd%20Suite%203%2C%20Oxford%2C%20ME%2004270!5e0!3m2!1sen!2sus!4v1765728186712!5m2!1sen!2sus"
        title="Born Yesterday Bakery Location"
      />
    </section>
  </main>
</Layout>

<style>
  .section-header-custom {
    margin: 0 auto 2rem;
  }

  .button-custom {
    display: block;
    margin: 0 auto;
  }
</style>
