---
import anadamaImage from '../assets/anadama.jpg'
import HeroBanner from '../components/layout/HeroBanner.astro'
import About from '../components/pages/home/About.astro'
import Info from '../components/pages/home/Info.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Born Yesterday Bakery"
  description="Born Yesterday Bakery is a bakery located in Maine, specializing in sourdough bread"
>
  <HeroBanner
    title="Born Yesterday Bakery"
    image={anadamaImage}
    description="Where everything is sourdough and sourdough is everything"
  />
  <main>
    <About />
    <Info />
  </main>
</Layout>
