---
import sproutedRyeImage from '../assets/sprouted-rye.jpg'
import HeroBanner from '../components/layout/HeroBanner.astro'
import SectionHeader from '../components/text/SectionHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Born Yesterday Bakery | Order"
  description="Born Yesterday Bakery is a bakery located in Maine, specializing in sourdough bread"
>
  <HeroBanner title="Order" image={sproutedRyeImage} />
  <main>
    <SectionHeader title="Visit our online store" />
    <a href="https://bornyesterdaybakery.square.site/" class="site-cta lsa no-repeat">Order Now</a>
  </main>
</Layout>

<style>
  .site-cta {
    display: block;
    margin: 0 auto;
    max-width: fit-content;
  }
</style>
