---
import { Picture } from 'astro:assets'
import anadamaImage from '../assets/focaccia.jpg'
import sourcingAnadama from '../assets/sourcing-anadama.jpg'
import HeroBanner from '../components/layout/HeroBanner.astro'
import SectionHeader from '../components/text/SectionHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Born Yesterday Bakery | Sourcing"
  description="Our commitment to organic, local, and sustainable sourcing."
>
  <HeroBanner
    title="Sourcing"
    image={anadamaImage}
    description="Our Commitment to Organic and Local Sourcing"
  />
  <main>
    <section id="introduction">
      <div class="column">
        <SectionHeader
          title="Why We Prioritize Organic and Local Ingredients"
          description="We believe that by investing in our community and supporting sustainable practices, we can create the best bread while contributing to a healthier environment and economy."
          class="section-header-custom"
        />
        <div class="image-container">
          <Picture src={sourcingAnadama} alt="Anadama bread" class="image" />
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .section-header-custom {
    text-align: left;
  }

  .column {
    display: grid;
    gap: 4rem;
  }

  @media (min-width: 768px) {
    .column {
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
    }
  }

  @media (min-width: 768px) {
    .image-container {
      position: relative;
    }

    .image {
      height: 100%;
      position: absolute;
      object-fit: cover;
      box-shadow: var(--box-shadow-normal);
    }
  }
</style>
