---
import { Picture } from 'astro:assets'
import fareShareFood from '../../../assets/fare-share-food.webp'
import goodFoodBethel from '../../../assets/good-food-bethel.png'
import morningGloryFarm from '../../../assets/morning-glory-farm.png'
import mountainSocial from '../../../assets/mountain-social.webp'
import tableBar from '../../../assets/table-bar.jpg'

const companyData = [
  {
    name: 'Good Food Store',
    url: 'https://www.goodfoodbethel.com/',
    logo: goodFoodBethel,
  },
  {
    name: 'Fare Share Food Co-op',
    url: 'https://www.faresharecoop.org/',
    logo: fareShareFood,
  },
  {
    name: 'Mountain Social Kitchen & Bar',
    url: 'https://www.socialbarharbor.com/mountain-social-bethel',
    logo: mountainSocial,
  },
  {
    name: 'Morning Glory Farm',
    url: 'https://www.morninggloryfarmmaine.com/',
    logo: morningGloryFarm,
  },
  {
    name: 'Table Bar',
    url: 'https://www.tablebar207.com/',
    logo: tableBar,
  },
]
---

<section id="info" class="info lsa no-repeat">
  <h3>Retailers</h3>
  <div class="info-logos">
    {
      companyData.map((company) => {
        return (
          <div class="logo">
            <a
              href={company.url}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={company.name}
            >
              <Picture src={company.logo} formats={['avif', 'webp']} alt={company.name} />
            </a>
          </div>
        )
      })
    }
  </div>
  <h3>Where to find us</h3>
  <div class="info-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2850.281362319046!2d-70.85805432360414!3d44.4068718033606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb3c367e4526135%3A0x6d53830088590b45!2s221%20Barker%20Rd%2C%20Bethel%2C%20ME%2004217!5e0!3m2!1sen!2sus!4v1696450333368!5m2!1sen!2sus"
      title="Google Map of 221 Barker Rd, Bethel, ME 04217"
      width="800"
      height="600"
      style="border: 0;"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>

<style>
  .info h3 {
    text-align: center;
    margin-bottom: 2rem;
  }

  @media (min-width: 768px) {
    .info h3 {
      font-size: var(--size-lg);
    }
  }

  .info-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
    margin-bottom: 6rem;
    padding: 1rem 0;
  }

  .logo {
    width: 9rem;
    height: 9rem;
  }

  .logo:nth-of-type(2) {
    background-color: var(--color-black);
    border-radius: 50%;
  }

  .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .info-map {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    box-shadow: var(--box-shadow-normal);
  }

  .info-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0.25rem;
  }
</style>
