<div class="company-hours lsa no-repeat">
  <h3>Hours</h3>
  <ul>
    <li>Monday <span>10 am - 2 pm</span></li>
    <li>Tuesday <span>10 am - 2 pm</span></li>
    <li>Wednesday <span>10 am - 2 pm</span></li>
    <li>Thursday <span>10 am - 2 pm</span></li>
    <li>Friday <span>10 am - 2 pm</span></li>
    <li>Saturday <span>10 am - 2 pm</span></li>
    <li>Sunday <span>10 am - 2 pm</span></li>
  </ul>
</div>

<style>
  .company-hours {
    max-width: 265px;
    margin: 0 auto 4rem;
  }

  .company-hours h3 {
    margin-bottom: 2rem;
    text-align: center;
  }

  .company-hours li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    margin-bottom: 1.5rem;
    line-height: 1;
  }

  .company-hours li span {
    font-size: var(--size-xs);
    text-align: right;
  }
</style>
