---
import { Icon } from 'astro-icon/components'
---

<footer id="footer" class="footer">
  <div class="footer-info">
    <p>
      &copy; {new Date().getFullYear()} Born Yesterday Bakery
    </p>
    <p>
      Website by <a href="http://wavelandweb.com" target="_blank" rel="noopener noreferrer"
        >Wave Land Web <Icon name="arrow-top-right" /></a
      >
    </p>
  </div>
  <div class="footer-icons">
    <a
      href="https://www.instagram.com/bornyesterdaybakery/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Instagram"
    >
      <Icon name="instagram" />
    </a>
    <a href="mailto:bornyesterdaybakery@gmail.com" aria-label="Email">
      <Icon name="email" />
    </a>
  </div>
</footer>

<style>
  .footer {
    padding: 2rem;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  @media (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
  }

  @media (min-width: 768px) {
    .footer-info p {
      margin-bottom: 0;
    }
  }

  .footer-info p:nth-child(2) {
    font-size: var(--size-xs);
    transition: color var(--transition-normal);
  }

  .footer-info a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--color-white);
    transition: var(--transition-normal);
  }

  .footer-info a:hover {
    color: var(--color-black);
  }

  .footer-info svg {
    width: 1rem;
    height: 1rem;
    transition: fill var(--transition-normal);
  }

  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  .footer-icons a {
    display: flex;
  }

  .footer-icons svg {
    width: var(--size-base);
    height: var(--size-base);
    color: var(--color-white);
    transition: all var(--transition-normal);
  }

  .footer-icons a:hover svg {
    transform: scale(1.05);
    color: var(--color-black);
  }
</style>
