---
import { getImage } from 'astro:assets'
import PageHeader from '../text/PageHeader.astro'

export interface Props {
  title: string
  description?: string
  image: ImageMetadata
}

const { title, description, image } = Astro.props

// Creating multiple image file types causes multiple network requests to load each image
// For now, we are using WEBP only to reduce the number of requests
const { src: backgroundImageWebp } = await getImage({
  src: image,
  format: 'webp',
  quality: 75,
  loading: 'eager',
})
---

<div class="banner lsa no-repeat" style={`background-image: url(${backgroundImageWebp});`}>
  <div class="scrim"></div>
  <PageHeader title={title} />
  {description && <p>{description}</p>}
</div>

<style>
  .scrim {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--color-black);
    opacity: 0.4;
  }

  .banner {
    position: relative;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-secondary);
    color: var(--color-white);
    text-shadow: 1px 1px 0 var(--color-black);
  }

  @media only screen and (max-device-width: 1366px) {
    .banner {
      background-attachment: scroll;
    }
  }

  .banner p {
    max-width: 550px;
    z-index: 1;
    padding: 0 1rem;
    font-size: clamp(var(--size-base), 5vw, 2rem);
    text-align: center;
    line-height: 1.5;
  }
</style>
